<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.endcoming.gesture"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MyGestureActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The settings provider -->
        <provider
            android:name="com.endcoming.gesture.db.DataProvider"
            android:authorities="com.endcoming.settings"
            android:readPermission="com.android.launcher.permission.READ_SETTINGS"
            android:writePermission="com.android.launcher.permission.WRITE_SETTINGS" />
    </application>

</manifest>